aniso8601==7.0.0
click==8.0.1
dataclasses-json==0.5.6
Flask==2.0.1
Flask-GraphQL==2.0.1
gensim==4.0.1
graphene==2.1.9
graphene-sqlalchemy==2.3.0
graphql-core==2.3.2
graphql-relay==2.0.1
graphql-server-core==1.2.0
greenlet==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
marshmallow==3.13.0
marshmallow-enum==1.5.1
msgpack==1.0.2
mypy-extensions==0.4.3
numpy==1.21.2
promise==2.3
regex==2021.8.21
Rx==1.6.1
scipy==1.7.1
singledispatch==3.7.0
six==1.16.0
smart-open==5.2.0
SQLAlchemy==1.4.23
typing-extensions==3.10.0.2
typing-inspect==0.7.1
Werkzeug==2.0.1
